* {
    font-size: 23px;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Barriecito', cursive;
font-family: 'Josefin Sans', sans-serif; */
}


/* navbar cortado */
body {
    margin: 0;
    padding: 0;
}

/* Estilos personalizados para el navbar */
.navbar-custom {
    background-color: #000; /* Cambia #000 al código de color que desees para el negro completo */
    position: fixed;
    width: 58%; /* Cambiar el ancho a la mitad deseada */
    transition: width 0.3s;
    z-index: 1000; /* Agregar un valor alto para que el navbar esté en primer plano */
    clip-path: polygon(0% 0%, 100% 0%, 90% 90%, 0% 100%); /* Polígono para el corte diagonal */
}

/* lo que ocurre cuando el navbar esta en estado "expanded" */
.navbar-custom.expanded {
    width: 100%;
    clip-path: none;
}
/* estilo de enlaces navbar quitando efecto link letra azul*/
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
}
/* navbar comportamiento cursor sobre el enlace */
.navbar-custom .navbar-nav .nav-link:hover {
    color: #ccc;
}

/* CAROUSEL CONTENT POSITION todo el contenido que esta encima del slide*/
.slide-content {
    position: absolute;
    top: 65%;
    left: 18%; /* Ajusta la posición horizontal del contenido */
    max-width: 30%;
    transform: translateY(-50%);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  /* Ajusta el tamaño de la imagen del logotipo en el carrusel */
.logo-img {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical */
    left: 150%; /* Ajusta la posición horizontal */
    transform: translateY(-50%);
    max-width: 15rem;
    height: auto;
}


.slide-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: #fff; /* Asegúrate de ajustar el color del texto */
    margin-top: 10px;
    padding-top: 20;
    line-height: 1.5;
}


/* Estilos iniciales del footer */
.site-footer {
    background-color: #000;
    text-decoration: none;
    color: #fff;
}

/* TESTING FOOTER styles*/
.site-footer a {
    color: #fff; /* Cambiar el color de los enlaces */
    text-decoration: none; /* Eliminar subrayado de los enlaces */
}

/* Cambiar color al pasar el cursor sobre los enlaces */
.site-footer a:hover {
    color: #555;
}
/* ##########################################################################################3 */





